@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,700;1,500&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0,124,70) ;
    clip-path: circle(50% at bottom right);
}

header{
    position: absolute;
    top:-10px;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header .navegation ul{
    position: relative;
    display: flex;
    left:-150px;
}

header .navegation li {
    list-style: none;
}

header .navegation li a {
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px ;
}

.container{
    position: relative;
    left: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px ;
}

.container .text h2{
    color: rgb(0,0,0);
    font-size: 3em;
    margin-bottom: 10px ;
    line-height:1.5em;
    font-weight: 700;
}

.container .text h2 span{
    color:rgb(0,120, 70);
}

.container .text p{
    color: rgb(0, 0, 5);
}

.container .text a{
    display: inline-block;
    margin-top: 40px;
    margin-left: 180px;
    padding: 10px 25px;
    background: rgb(0,120, 70);
    color: rgb(255,255,255);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out ;
}

.container .text a:hover{
    transform:translateY(-10px);
}

.icons{
    position: absolute;
    top:45%;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons li{
    list-style: none;
}

.icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222;
    margin-left: 45px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.icons li a:hover{
    background-color: rgb(0,120, 70);
    border: 1px solid #fff;
    transform: translateY(-10px);
}

.icons li a img{
    transform: scale(0.5);
    filter:invert(1)
}

.boxImg .img1{
  position: absolute;
  bottom: -20px; 
  width: 350px;
  right: 200px;
  transform: rotate(-5deg);
}


.box-coffe img{
    width: 40px;
    height: 40px;
}